python
numpy
pandas
matplotlib
scikit-learn
seaborn
psycopg2
mysql-connector-python
saspy
simple_salesforce
boto3
python-dotenv
pymongo
requests
torch>=2.6.0+cu124
torchvision>=2.6.0+cu124
torchaudio>=0.21.0+cu124